.cards {
    width: 80%;
    margin: 8rem auto;
    display: grid;
    grid-template-columns: repeat(3, 28%);
    column-gap: 4rem;
    row-gap: 6rem;
}

a {
    text-decoration: none;
    color: black;
}

.card {
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    height: 25rem;
    transition: 0.3s ease;
}

.card:hover {
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.226);
}

.card:hover > .about .bay_product {
    display: flex;
    transition: 0.3s ease;
}

.card_img {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px rgb(248, 248, 248) solid;
}

.card img {
    height: 75%;
}

.about {
    margin-top: 20px;
    width: 100%;
    position: relative;
    z-index: 2;
}

.bay_product {
    position: absolute;
    right: 2rem;
    top: -3rem;
    background-color: #5ECE7B;
    width: 3rem;
    height: 3rem;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.bay_product:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.144);
}

.bay_product img {
    width: 50%;
    height: 50%;
}

