header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 8rem;
  font-size: 12px;
  background-color: rgba(255, 255, 255, 0.685);
  backdrop-filter: blur(3rem);
  width: 100%;
  z-index: 10000;
}

a {
  text-decoration: none;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li{
  margin-left: 20px;
}

nav ul li a {
  font-size: 14px;
  color: black;
  padding-bottom: 15px;
}

nav ul li .active {
  color: #5ECE7B;
  border-bottom: #5ECE7B 2px solid;
}

.add_cart {
  border: 50%;
}
